<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head"></head>
<body>
<main>
    <div class="container">
        <div class="row">
            <!--Side Bar Employed-->
            <div class="col s3" th:insert="fragments/sidebar-employed"></div>

            <div class="col s9">
                <div style="margin-top: 6%;">
                    <div class="section">
                        <div th:switch="suppliers" class="container">
                            <div th:case="*" class="row">
                                <div class="col s12">

                                    <h4>List of Suppliers
                                        <a th:href="@{/suppliers/add}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                                    </h4>

                                    <table class="centered highlight responsive-table">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">Options</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="supplier : ${suppliers}">
                                            <th scope="row" th:text="${supplier.id}"></th>
                                            <td th:text="${supplier.name}"></td>
                                            <td th:text="${supplier.phone}"></td>
                                            <td th:text="${supplier.email}"></td>
                                            <td th:text="${supplier.address}"></td>
                                            <td>
                                                <div>
                                                    <a th:href="@{/suppliers/edit/{id}
                                                    (id=${supplier.id})}"
                                                       class="waves-effect waves-light btn-small">
                                                        <i class="large material-icons">edit</i>
                                                    </a>
                                                    <a th:href="@{/suppliers/delete/{id}
                                                    (id=${supplier.id})}"
                                                       class="waves-effect waves-light btn-small red lighten-1">
                                                        <i class="large material-icons">delete</i>
                                                    </a>
                                                    <a th:href="@{/suppliers/{id}/depots (id=${supplier.id})}" class="btn btn-primary btn-sm" >Depots</a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>