<meta charset="UTF-8">
<title>FarmaShop</title>
<script src="/js/jquery-3.5.1.min.js" charset="utf-8"></script>
<script src="/js/materialize.js" charset="utf-8"></script>
<link rel="stylesheet" href="/css/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    @media only screen and (min-width: 993px){
        .container
        {
            width: 80%;
        }
    }
    .container
    {
        margin: 0 auto;
        max-width: 1900px;
        width: 95%;
    }
</style>